/*основні налаштування та скидання*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}

/*загальні*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.nav-link:hover,
.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:focus,
.nav-link:focus {
  color: #404bbf;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.nav-list,
.contacts-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:focus,
.nav-link:focus {
  color: #404bbf;
}

/* hero */
.hero,
.footer {
  background-color: #2e2f42;
}

.section-hero {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.btn-primary {
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.innovations {
  padding: 120px 0;
}

.innovations-list {
  display: flex;
  gap: 24px;
}

.innovations-item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
}

.innovations-icons-wrapper {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.innovations-sybtitle,
.team-sybtitle,
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.innovations-text,
.team-text,
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.container-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-caption {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-team-name {
  padding: 32px 0;
}

.team-sybtitle-desc {
  text-align: center;
  margin-bottom: 8px;
}

.team-desc {
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.portfolio {
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: calc((100% - 48px) / 3);
}

.basement {
  padding: 100px 0;
}

footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-part-light {
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.basement-logo {
  margin-right: 120px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-wrapper {
  display: block;
  text-align: center;
  max-width: auto;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.social-list-footer {
  gap: 16px;
}
